<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" href="/admin/dist/iview.css">
</head>
<body>
	<div id="loginApp"></div>
	<script src="/admin/dist/login.build.js"></script>
</body>
</html>